<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="${package}.dao.mapper.${className}Mapper">
	<!-- 返回值映射map -->
	<resultMap id="${classNameLower}Mapper" type="${package}.model.${className}">
		<#list table.columns as column>
		<result property="${column.name}" column="${column.dbName}" />
		</#list>
	</resultMap>
	
	<!--基本字段列表-->
    <sql id="Base_Column_List">
        <#list table.columns as column>
        ${column.dbName}<#if column.end>,</#if>
        </#list>
    </sql>
	<sql id="where_fragment">
	    <where>
			<if test="id != null">id = '#'{id}</if>
			<if test="yn != null">yn = '#'{yn}</if>
		</where>
	</sql>

	<insert id="insert">
		INSERT ${table.dbName}
		(
		<#list table.columns as column>
		${column.dbName}<#if column.end>,</#if>
		</#list>
		)
		VALUES
		(
		<#list table.columns as column>
		${column.name}<#if column.end>,</#if>
		</#list>
		)
	</insert>
	<insert id="insertList">
		<foreach collection="records" item="item" open="(" separator="," close=")">
		INSERT ${table.dbName}
		(
		<#list table.columns as column>
		${column.dbName}<#if column.end>,</#if>
		</#list>
		)
		VALUES
		(
		<#list table.columns as column>
		item.${column.name}<#if column.end>,</#if>
		</#list>
		);
		</foreach>
	</insert>
	<update id="updateByPrimaryKeySelective">
		UPDATE ${table.dbName}
		<set>
		<#list table.columns as column>
		<if test="${column.name} != null">${column.dbName} = '#'{${column.name}}</if>
		</#list>
		</set>
		WHERE id = '#'{id}
	</update>
	<update id="updateByPrimaryKeySelective">
	<foreach collection="records" item="item" open="(" separator="," close=")">
		UPDATE ${table.dbName}
		<set>
		<#list table.columns as column>
		<if test="item.${column.name} != null">${column.dbName} = '#'{item.${column.name}}</if>
		</#list>
		</set>
		WHERE id = '#'{id}
	</foreach>
	</update>
	<update id="delete">
		UPDATE ${table.dbName} SET yn = 0
		<include refid="where_fragment"/>
	</update>
	<update id="deleteByPrimaryKey">
		UPDATE ${table.dbName} SET yn = 0 WHERE id = '#'{id}
	</update>
	<select id="selectByPrimaryKey" resultMap="${classNameLower}Mapper">
		SELECT
		<include refid="Base_Column_List"/>
		FROM ${table.dbName}
		WHERE id = '#'{id}
	</select>
	<select id="one" resultMap="${classNameLower}Mapper">
		SELECT
		<include refid="Base_Column_List"/>
		FROM ${table.dbName}
		<include refid="where_fragment"/>
	</select>
	<select id="all" resultMap="${classNameLower}Mapper">
		SELECT
		<include refid="Base_Column_List"/>
		FROM ${table.dbName}
		WHERE yn = 1
	</select>
	<select id="select" resultMap="${classNameLower}Mapper">
		SELECT
		<include refid="Base_Column_List"/>
		FROM ${table.dbName}
		<include refid="where_fragment"/>
	</select>
	<select id="selectByIds" resultMap="${classNameLower}Mapper">
		SELECT
		<include refid="Base_Column_List"/>
		FROM ${table.dbName}
		WHERE yn = 1
		AND id IN
		<foreach collection="records" item="item" open="(" separator="," close=")">
			'#'{item.id}
		</foreach>
	</select>
	<select id="selectPage" resultMap="${classNameLower}Mapper">
		SELECT
		<include refid="Base_Column_List"/>
		FROM ${table.dbName}
		<include refid="where_fragment"/>
		<if test="pageNum != null and pageSize != null"> limit '#'{pageNum},'#'{pageSize}</if>
	</select>
	<select id="selectCount" resultType="java.lang.Integer">
		SELECT
			COUNT(1)
		FROM ${table.dbName}
		<include refid="where_fragment"/>
	</select>
	
</mapper>